html,  { 
  background-color: whitesmoke;
  background: url(fancy\ closet.jpg) no-repeat center center fixed;
 
}


.jumbotron{
   color: whitesmoke;
    background-size: 50%;
    background-color: teal;
    height: 400px;
    /* padding: 20px; */
    margin: 5px;
    background: url(spiff.png)no-repeat top center fixed;
  }
  
  body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
  }
  
  .topnav {
    overflow: hidden;
    background-color:whitesmoke;
  }
  
  .topnav a {
    float: center;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: whitesmoke;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .carousel-inner{
    align-content: center;
    text-align: center;
  }

  .mycarousel{
    align-content: center;
    text-align: center;
  }
  .collapse{
    background-color: black;
    border: white;
  }
 footer{
   height: 20%;
 }