html, body { 
  background-color: whitesmoke;
  background: url(fancy\ closet.jpg) no-repeat center center fixed;
}


.jumbotron{
   color: whitesmoke;
    background-size: 30%;
    background-color: teal;
    height: 400px;
    background-blend-mode: auto;
    background-blend-mode: crisp-edges;
    image-rendering: pixelated;
    padding: 50px;
    margin: 30px;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color:whitesmoke;
  }
  
  .topnav a {
    float: center;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: whitesmoke;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .carousel-inner{
    align-content: center;
    text-align: center;
  }

  .mycarousel{
    align-content: center;
    text-align: center;
  }

